---
---

@import "{{ site.theme }}";

.page-header {
    background-position: center center;
    background-image: url("https://res.cloudinary.com/jonasbn/image/upload/h_1024,q_auto:low,c_fill,g_auto/v1606940090/shane-aldendorff-3b3O75X0Jzg-unsplash_kpkqr0.jpg");
    left: 0;
    right: 0;
    background-color: #fff;
}

.main-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: #5f322a;
    }
}

.btn {
    color: rgb(255, 255, 255);
}

.project-tagline {
    color: rgb(255, 255, 255);
    border-width: 1px;
    margin-top: 0px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    opacity: 1.0;
}

.project-name {
    color: rgb(255, 255, 255);
    border-width: 1px;
    margin-bottom: 0px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

a {
    color: #763E34;
}
