name: CI Action
on:
  push:
  schedule:
    - cron: '0 0 */28 */1 *'

env:
  CONTINUOUS_INTEGRATION: true

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
    # REF: https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#using-the-checkout-action
    - name: "Checkout repository"
      uses: actions/checkout@8e8c483c0d05e4aa9b3dafb9ca3ce621c44f1df3 # v6.0.1
    - name: "Installing dependencies and testing all using dzil"
      uses: jonasbn/github-action-perl-dist-zilla@af6fe9780b14b13e9c83e6076e6e3d7bc1063ae9 # 0.5.5
      with:
          dzil-arguments: 'test --all'
