name: EditorConfig Action
on: push

jobs:
  build:
    name: EditorConfig lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: editorconfig-checker/action-editorconfig-checker@v2
      name: Testing using editorconfig-checker
