name: Markdownlint Action
on: push

jobs:
  build:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483c0d05e4aa9b3dafb9ca3ce621c44f1df3 # v6.0.1
    - uses: nosborn/github-action-markdown-cli@9bfd045c4030bb7d69e3dce46c49d4e54c57de00 # v3.5.0
      name: Markdownlint
      with:
        files: .
        config_file: ".markdownlint.json"
